@import './partials/setup';
@import './partials/services';
@import './partials/featuredSchools';
// ----- GENERAL STYLES ----
a{
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    object-fit: cover;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#app {
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    color: #4a4a4a;
    letter-spacing: 2px;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.2rem;
    margin: 0px;
    color: #f26721;
}
h3, h4 {
    letter-spacing: 0.5px;
    margin: 0;
}
header {
    text-align: center;
    width: 70%;
    margin: 50px auto;
}
section {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

figure {
    width: 31.5%;
    display: flex;
    flex-direction: column;
}
#schoolName {
    text-transform: capitalize;
}

/* Landscape phone to portrait tablet */
@media (max-width: 945px) {
    header {
        width: 100%;
    }
}

